---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Not Found">
  <section>This page has been moved</section>
  <a href="/"><Button variant="default" size="default">Home</Button></a>
</Layout>
