---
import { fade } from "astro:transitions";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getLandingPage } from "@/utils/sanity";
import { PortableText } from "astro-portabletext";
import RichTextBlock from "@/components/RichTextBlock.astro";
import { Carousel } from "@/components/Carousel";

const landingPage = await getLandingPage("Main");
const components = {
  block: RichTextBlock,
};
---

<BaseLayout title="Home">
  <section transition:animate={fade({ duration: ".5s" })}>
    <div
      class="from-secondary to-primary grid grid-cols-2 items-center gap-8 bg-gradient-to-br px-20"
    >
      <div class="col-span-full p-8 xl:col-span-1">
        {
          landingPage?.content && (
            <PortableText value={landingPage.content} components={components} />
          )
        }
      </div>
      <img
        class="hidden self-end xl:block"
        src={landingPage?.mainImage.asset.url}
        alt={landingPage?.mainImage.asset.alt || "Main Image"}
      />
    </div>
    <div class="flex w-full justify-center">
      <Carousel client:load carouselItems={landingPage?.carousel} />
    </div>
  </section>
</BaseLayout>
