---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="Posts">
  <section>
    {
      posts.length ? (
        posts.map((post) => <Card post={post} />)
      ) : (
        <div>No Posts Found</div>
      )
    }
  </section>
</Layout>
