---
import { slide } from "astro:transitions";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <section transition:animate={slide({ duration: ".5s" })}>
    <h1>Welcome Will</h1>
  </section>
</BaseLayout>
