---
// https://docs.astro.build/en/guides/view-transitions/
import Header from "@/components/Header.astro";
import Head from "@/Head.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body class="var(--background) h-lvh">
    <Header />
    <main class="px-8 sm:container sm:mx-auto">
      <slot />
    </main>
  </body>
</html>
