---
import Card from "@/components/Card.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getProjects } from "@/utils/sanity";
import { slide } from "astro:transitions";

const projects = await getProjects();
---

<BaseLayout title="Background">
  <section id="projects" transition:animate={slide({ duration: ".5s" })}>
    {
      projects.length ? (
        projects.map((project) => <Card project={project} />)
      ) : (
        <div>No Projects Found</div>
      )
    }
  </section>
</BaseLayout>
